.menu__trigger {
  background: none;
  border: none;
}

.menu__list {
  position: absolute;
  margin-top: var(--spacing-xs);
  list-style: none;
  padding: var(--spacing-xs) 0;
  background-color: var(--neutral100);
  border: 1px solid var(--neutral900);
  z-index: 20;
}

.menu__list--right {
  right: 0;
}

.menu__item {
  display: block;
  width: 100%;
  padding: var(--spacing-xs) var(--spacing-md);
  background: none;
  border: none;
  text-align: left;
}
.menu__item:hover,
.menu__item:focus {
  background-color: var(--neutral900);
  color: var(--primary-foreground);
}
