.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--neutral100);
  overflow-y: auto;
}

.sidebar--collapsed .sidebar__list > .sidebar__item > .sidebar__link {
  white-space: nowrap;
}

.sidebar__header,
.sidebar__footer {
  padding: var(--spacing-md);
}

.sidebar__toggle {
  background: none;
  border: none;
  align-self: flex-end;
  margin: var(--spacing-sm);
}

.sidebar__list,
.sidebar__sublist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar__item {
  padding: var(--spacing-sm) var(--spacing-md);
}

.sidebar__sublist {
  padding-left: var(--spacing-lg);
}

.sidebar__link {
  text-decoration: none;
  color: inherit;
}
